:root{
    --panaxeo-green: #16AB8B;
    --timeline-gradient-grade: 0deg;
}

@font-face {
    font-family: 'new-spirit';
    src: url("../fonts/NewSpirit-Regular.otf") format("opentype");
}

* {
    font-family: 'Inter', sans-serif;
}

.footer a{
    text-decoration: none;
}

.header {
    font-family: 'new-spirit', serif;
}

.panaxeo-green {
    color: var(--panaxeo-green);
}

.panaxeo-button {
    background: var(--panaxeo-green);
    border: var(--panaxeo-green);
}

.panaxeo-button:hover {
    background-color:  var(--panaxeo-green);
}

.panaxeo-button:focus {
    box-shadow: 0 0 0 0.2rem #16AB8B80;
    border: none;
}

.panaxeo-focus:focus{
    box-shadow: 0 0 0 0.2rem #16AB8B80;
    border: none;
}

.planner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input:focus::placeholder {
    color: transparent;
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

/*BS-stepper customization -- START*/

.bs-stepper-circle-custom {
    color: #000000 !important;
    background-color: #16AB8B80 !important;
}

.active .bs-stepper-circle-custom {
    background-color: var(--panaxeo-green) !important;
}

.bs-stepper-label-custom{
    display: inline-block;
    width: 100px;
    white-space: normal;
    word-wrap: break-word;
}

.step-trigger-custom{
    display: flex;
    flex-direction: column;
}

.active .bs-stepper-label-custom {
    color: var(--panaxeo-green) !important;
}

.content:not(.active){
    display: none !important;
}

/*BS-stepper customization -- END*/

/*Timeline customization -- START*/
#timeline li:first-child, #timeline li:last-child{
    visibility: hidden;
}

#timeline li:nth-child(2){
    color: red;
}

#timeline li:nth-child(2)::after, #timeline li:nth-child(2)::before{
    background-color: red;
}

#timeline li:nth-child(3){
    color: var(--panaxeo-green);
}

#timeline li:nth-child(3)::after, #timeline li:nth-child(3)::before{
    background-color: var(--panaxeo-green);
}

#timeline ol::after{
    z-index: -1;

    /* For fallback in case of no support */
    background: #b7b7b7;

    /* For Chrome, Safari, and newer versions of Opera */
    background: linear-gradient(var(--timeline-gradient-grade), #FF0000 0 33%, #fcc12e 33% 66%, var(--panaxeo-green) 66% 100%);

    /* For older versions of Firefox */
    background: -moz-linear-gradient(var(--timeline-gradient-grade), #FF0000 0 33%, #fcc12e 33% 66%, var(--panaxeo-green) 66% 100%);

    /* For Internet Explorer 10 and older */
    background: -ms-linear-gradient(var(--timeline-gradient-grade), #FF0000 0 33%, #fcc12e 33% 66%, var(--panaxeo-green) 66% 100%);

    /* For newer versions of Opera (since version 15) */
    background: -o-linear-gradient(var(--timeline-gradient-grade), #FF0000 0 33%, #fcc12e 33% 66%, var(--panaxeo-green) 66% 100%);

    /* For newer versions of Chrome, Safari, Firefox, Opera, and IE 11+ */
    background: -webkit-linear-gradient(var(--timeline-gradient-grade), #FF0000 0 33%, #fcc12e 33% 66%, var(--panaxeo-green) 66% 100%);
}

#timeline {
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    justify-content: center;
}
/*Timeline customization -- END*/

@media only screen and (max-width: 990px) {
    .planner-container {
        grid-template-rows: auto;
        grid-template-columns: none;
    }
    :root{
        --timeline-gradient-grade: 270deg;
    }
}